.header {
    background: #6a17b7;
    height: 200px;
}
  
.header h1 {
    margin: 0;
    padding-top: 75px;
    text-align: center;
    color: rgb(255, 185, 250);
    /* add a shadow for visibility? */
    font-size: 3rem;
}  